<!doctype html>
<html>
<head>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandheldFriendly" content="True" />
  <!-- identity -->
  <title>Example Page for {{ ansible_hostname }}</title>
  <meta name="Example Page" content="meta-description" />
</head>
<body>
  <header>
    <h1>Example Page for {{ ansible_hostname }}</h1>
  </header>
  <main>
    <p>This example page is brought to you by <a href="//while-true-do.io">while-true-do.io</a></p>
  </main>
  <footer>
    <p>nothing to see here.</p>
  </footer>
</body>
</html>
